Day-18/Books.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.booksinfo.com">
	<xsd:element name="books">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element name="book" minOccurs="1" maxOccurs="2">
			<xsd:complexType>
				<xsd:sequence>
					<xsd:element name="bid" type="xsd:int"/>
					<xsd:element name="bname" type="xsd:string"/>
					<xsd:element name="author" type="xsd:string"/>
					<xsd:element name="publisher" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	</xsd:element>
</xsd:schema>
